

// COLOR VARIABLES
//$color-primary: #0095ff;
$color-primary-light: #3eafff;
$color-white: #fff; 
$color-black: #000000;

$color-gold: rgb(255, 217, 0);

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;



//RESPONSIVE BREAKPOINTS (use em unit)
$bp-xxlarge: 90em; // 1440px
$bp-xlarge: 75em; // 1200px 
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-xsmall: 25em; // 400px
$bp-xxsmall: 22em; // 352px -- iphone 5/SE


$shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.2);
