@page
@model NanoSingular.RazorApi.Pages.Authentication.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<!-- Login -->
<div class="full-view">
    <div class="full-view__splash">
        <img src="/assets/img/logo-green.png" alt="Logo" />
    </div>
    <div class="full-view__content">
        <div class="full-view__content__intro">
            <div class="full-view__content__intro__brand">
                <img src="/assets/img/logo-green.png" alt="Logo" />
            </div>
            <div class="full-view__content__intro__title">
                Reset your password
            </div>
        </div>


        <div class="full-view__content__form-area">

            <!-- Login Panel -->
            <form class="login" id="login-form">

                <!-- Username / Password -->
                <div class="login__credentials">
                    <input class="paper-input" aria-required="true" placeholder="name@example.com" id="username" />
                </div>

                <!-- Submit -->
                <div class="login__submit">
                    <button class="btn" id="loginSubmit" type="submit">
                        Submit
                    </button>
                </div>
                <div class="login__demo-controls">

                    <!-- Field Group -->
                    <div class="field-group">
                        <div class="field-group__title">
                            Tenant
                        </div>
                        <div class="field-group__input-area">
                            <select id="tenant">
                                <option value="root">Root</option>
                                <option value="beta">Beta</option>
                                <option value="gamma">Gamma</option>
                            </select>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>
