@page
@model Unauthorized
@{
    ViewData["Title"] = "Unauthorized";  
}

<!-- Unauthorized (403) -->
<div class="full-view">
    <div class="full-view__splash">
        <img src="/assets/img/logo-green.png" alt="Logo" />
    </div>
    <div class="full-view__content">
        <div class="full-view__content__intro">
            <div class="full-view__content__intro__brand">
                <img src="/assets/img/logo-green.png" alt="Logo" />
            </div>
            <div class="full-view__content__intro__title">
                Oooops... 403!
            </div>
            <div class="full-view__content__intro__title">
                Return to application
            </div>
        </div>




    </div>

</div>