@page
@using NanoSingular.Application.Services.VenueService.DTOs;
@model NanoSingular.RazorApi.Pages.Venues.EditModel

@{
    ViewData["Title"] = "Venues / Edit";
}


<!-- Entity Header -->
<div class="entity-header">

    <!-- Title -->
    <div class="entity-header__title-area">
        <div class="avatar avatar--large">
            <div class="avatar__image-area">
                <svg>
                    <use xlink:href="/assets/css/sprite.svg#icon-d-add"></use>
                </svg>
            </div>
            <div class="avatar__title-group">
                <div class="avatar__title-group__title">
                    Edit Venue
                </div>
            </div>
        </div>
    </div>

</div>


<div class="panel">


    <!-- Form Block -->
    <form class="form-block" id="editVenueForm" method="post">
        <div class="form-block__title">
            Venue Details
        </div>
        <div class="form-block__fields">

            <!-- Field Group -->
            <div class="field-group">
                <div class="field-group__title">
                    Venue Name
                </div>
                <div class="field-group__input-area">
                    <input asp-for="UpdateVenueRequest.Name" />
                    <span asp-validation-for="UpdateVenueRequest.Name" class="red-text"></span>
                </div>
            </div>

            <!-- Field Group -->
            <div class="field-group">
                <div class="field-group__title">
                    Venue Description
                </div>
                <div class="field-group__input-area">
                    <input asp-for="UpdateVenueRequest.Description" />
                    <span asp-validation-for="UpdateVenueRequest.Description" class="red-text"></span>
                </div>

            </div>

        </div>
        <div class="form-block__cta">
            <button class="btn small btn--outline btn--red" type="submit" name="action" value="delete">Delete</button>
            <button class="btn small" type="submit" name="action" value="save">Save Changes</button>
        </div>
    </form>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


