@page
@model NanoSingular.RazorApi.Pages.Venues.IndexModel
@{
    ViewData["Title"] = "Venues";
}


<!-- Controls -->
<div class="control-block">

    <!-- Search -->
    <div class="control-block__input-area">
        <input class="paper-input" id="search-input" type="text" placeholder="Search">
    </div>

    <!-- Buttons -->
    <div class="control-block__button-area">

        <!-- Add -->
        <a class="btn" asp-page="./Create">
            Add Venue
        </a>
    </div>
</div>


<!-- Table -->
<div id="jsGrid"></div>

@section Scripts {
    <script src="/assets/js/pages/venues/venues.js" asp-append-version="true"></script>
}