@page
@model NanoSingular.RazorApi.Pages.Profile.IndexModel

@{
    ViewData["Title"] = "Profile";
}



<div class="page-menu-layout">
    <!-- Page Menu -->
    <div class="page-menu">
        <button class="page-menu__button tab-button active" tab="basicInfo">
            <svg>
                <use xlink:href="/assets/css/sprite.svg#icon-user"></use>
            </svg>
            <span>
                Basic Information
            </span>
        </button>
        <button class="page-menu__button tab-button" tab="preferences">
            <svg>
                <use xlink:href="/assets/css/sprite.svg#icon-gear"></use>
            </svg>
            <span>
                Preferences
            </span>
        </button>
        <button class="page-menu__button tab-button" tab="password">
            <svg>
                <use xlink:href="/assets/css/sprite.svg#icon-lock"></use>
            </svg>
            <span>
                Change Password
            </span>
        </button>
    </div>

    <partial name="_BasicInfo"/>

    <partial name="_Preferences" />

    <partial name="_Password" />


</div>

@section Scripts {

    <script src="/assets/js/pages/profile/profile.js" asp-append-version="true"></script>
}
